<div nz-row >
  <div class="card shadow-lg mt-5 mx-auto" nz-col nzSpan="6" nzOffset="6" >
    <div class="card-header text-center">
      <h1 class="display-6 fw-bold">Todo App</h1>
    </div>
    <div class="p-2">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input #todoInput type="text" nz-input placeholder="Todo tasks" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span (click)="onAddTodo(todoInput.value)" nz-icon nzType="plus-circle"></span>
      </ng-template>
    </div>
    <div class="px-2">
      <nz-list nzBordered nzSize="small" class="px-2 my-2">
        <nz-list-header>Todos</nz-list-header>
        <nz-list-item *ngFor="let item of todoService.uncompletedTodos$ | async">
          <span (click)="onCompleteTodo(item.id)" nz-icon [nzType]="'border'" [nzTheme]="'outline'" [nzTwotoneColor]="'#52c41a'"></span>
          {{item.title}}
          <span (click)="onRemoveTodo(item.id)" nz-icon nzType="delete" nzTheme="outline"></span>
        </nz-list-item>
      </nz-list>
      <nz-list nzBordered nzSize="small" class="px-2 my-2">
        <nz-list-header>Completed</nz-list-header>
        <nz-list-item *ngFor="let item of todoService.completedTodos$ | async">
          <span nz-icon [nzType]="'check-square'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
          {{item.title}}
          <span (click)="onRemoveTodo(item.id)" nz-icon nzType="delete" nzTheme="outline" [nzTwotoneColor]="'#eb455f'"></span>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>

